* {
	padding: 0;
	margin: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    flex-direction: column;
    background: linear-gradient(270deg, rgba(255, 127, 80, 0.2), rgba(100, 149, 237, 0.2), rgba(255, 215, 0, 0.2), rgba(255, 105, 180, 0.2));
    background-size: 800% 800%;
    animation: gradientAnimation 20s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

h1, p, a {
	text-align: center;
	color: #333;
	line-height: 1.6;
}

p, mark {
	color: #555;
	line-height: 1.6;
}

mark {
	background-color: lime;
}

.code {
	text-align: left;
	margin-left: 20px;
	height: auto;
	background-color: transparent;
	border-radius: 10px;
	outline: 2px solid #555;
	margin-left: 10px;
	margin-right: 10px;
	color: #555;
	line-height: 1.6;
}

.code code {
	margin-left: 20px;
	margin-right: 20px;
}

.code h3 {
	text-align:center;
}

.code p {
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
}

.title {
	text-align: center;
	width: auto;
	height: auto;
	background-color: transparent;
	border-radius: 10px;
	outline: 2px solid #555;
	margin-left: 10px;
	margin-right: 10px;
	color: #555;
	line-height: 1.6;
}

summary {
	list-style: none;
	cursor: pointer;
	text-decoration: underline;
}

summary::before {
	content: "!";
	margin-right: 10px;
	display: inline-block;
	transition: transform 0.3s ease-in-out;
}	

details[open] summary::before {
	transform: rotate(180deg);
}

.title p {
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
}


.title mark {
	background-color: rgba(50, 205, 50, 0.3);
}
